<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.rttoolbox">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".schedTableExp"
            android:label="@string/title_activity_sched_table_exp"
            android:parentActivityName=".PipeDimentionsGateway"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.rttoolbox.PipeDimentionsGateway" />
        </activity>
        <activity
            android:name=".displaySchedTable"
            android:label="@string/title_activity_display_sched_table"
            android:parentActivityName=".PipeDimentionsGateway"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.rttoolbox.PipeDimentionsGateway" />
        </activity>
        <activity
            android:name=".PipeDimentionsGateway"
            android:label="@string/title_activity_pipe_dimentions"
            android:parentActivityName=".Toools"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.rttoolbox.Toools" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EMERG" />
        <activity android:name=".Toools" />
        <activity android:name=".sendLocation2" />
        <activity android:name=".safeDist" />
        <activity android:name=".exposureCalc" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.root.rttoolbox.MainActivity" />
        </activity>
        <activity android:name=".pipeSched_Under_4in" />
    </application>

</manifest>